<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean Definition -->
    <bean id="myBean" class="com.example.MyClass">
        <!-- Inject dependencies -->
        <property name="myDependency" ref="myDependencyBean"/>
    </bean>

    <bean id="myDependencyBean" class="com.example.MyDependencyClass"/>
    
</beans>
